{% extends 'base.html.twig' %}

{% block title %}
    Smart-Immo | Nouveau mot de passe
{% endblock %}

{% block body %}

    <div class="section-display">
        <!-- container Start -->
        <div class="container" id="confirmation-form">
            <div class="section-display">
                <!-- container Start -->
                <div class="container">
                    <div class="d-flex justify-content-center align-items-center vh-85">
                        <div class="header-body text-center">
                            <img src="{{ asset('assets/img/recover-img.svg') }}" class="img-fluid mb-3 thanku-img">
                            <h3 class="fw-bold">Entrer le nouveau mot de passe</h3>
                            <p class="small text-muted mb-2">Entrez vos coordonnées pour récupérer</p>
                            <div class="rounded-9 p-2 bg-light mb-3">
                                <span class="mdi mdi-account-lock fs-4 rounded-9 text-muted mb-2"></span>
                                <h6 class="text-muted fw-bold">Sécurité et Conformité</h6>
                                <p class="text-muted small fw-light">Créer un mot de passe fort et sécurisé est essentiel pour protéger vos informations personnelles.
                                    <br><span class="text-danger">Incluez <strong>6</strong> caractères au minimum, un mélange de chiffres et de symboles spéciaux (!, @, #, etc.)</span></p>
                            </div>
                                {{ form_start(form) }}
                                {% if form_errors(form.password.first) is not empty %}
                                    <span class="small text-danger">Le mot de passe ne correspond pas ou les exigences en matière de mot de passe ne sont pas remplies</span>
                                {% endif %}
                                <div class="form-floating mb-3 d-flex align-items-end px-3 py-1 border rounded-3 {% if form_errors(form.password.first) is not empty %} border border-danger{% endif %}">
                                    <input
                                            name="{{ field_name(form.password.first) }}"
                                            value="{{ field_value(form.password.first) }}"

                                            type="password" class="form-control border-0 px-0" id="floatingInput" placeholder="password">
                                    <span class="my-auto mdi mdi-lock"></span>
                                    <label for="floatingInput" class="text-muted px-3 mt-1">Mot de passe*</label>
                                </div>
                                <div class="form-floating mb-3 d-flex align-items-end px-3 py-1 border rounded-3 {% if form_errors(form.password.second) is not empty %} border border-danger{% endif %}">
                                    <input
                                            name="{{ field_name(form.password.second) }}"
                                            value="{{ field_value(form.password.second) }}"

                                            type="password" class="form-control border-0 px-0" id="floatingInput" placeholder="password">
                                    <span class="my-auto mdi mdi-check-circle"></span>
                                    <label for="floatingInput" class="text-muted px-3 mt-1">Confirmer mot de passe</label>
                                </div>
                                <button type="submit" class="btn btn-danger text-uppercase fw-bold w-100 py-3 rounded-9 mt-3">Continuer</button>
                                {{ form_end(form) }}
                        </div>
                    </div>
                </div>
                <!-- container End -->
            </div>

        </div>
        <!-- container End -->
    </div>


    <script>
        function tokenConfirmation() {
            const url = "{{ path('app_sign_up_account_token_confirmation') }}";
            $.ajax({
                url: url,
                type: "post",
                data: $("#token-confirmation-form").serialize(),
                beforeSend: function () {
                    $("#confirmed-button").prop("disabled", true);
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    alert(xhr.status);
                },
                success: function (data) {
                    $("#confirmation-form").html(data);
                }
            });

            return false;
        }
    </script>

{% endblock %}
